* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #f8caf6, #763f8d);
    padding: 20px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 500px;
    background:  transparent;
    border-radius: 30px;
    box-shadow: 0 0 30px rgb(119, 59, 153);
    padding: 20px;
}

.form-box {
    position: relative; 
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    color: #333;
    text-align: center;
    padding: 40px 30px;
    border-radius: 30px;
    width: 100%;
    box-sizing: border-box;
}

.container h1 {
    color: #eeacee;
    text-shadow: 2px 2px 2px rgb(134, 55, 134);
    font-size: 35px;
    font-size: 700;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin: 20px 0;
    width: 100%;
}

.input-box input {
    width: 100%;
    padding: 13px 50px 13px 20px;
    background: #e2dfdf;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.input-box input::placeholder {
    color: #685d5d;
    font-weight: 400;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}

.forget-link {
    margin: -10px 0 20px;
    text-align: right;
    width: 100%;
}

.forget-link a {
    font-size: 14px;
    color: #333;
    text-decoration: none;
}

.btn {
    width: 60%;
    height: 48px;
    background: linear-gradient(90deg, #fcc5f9, #763f8d);;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.btn:hover{
    background: linear-gradient(90deg,#763f8d , #f8caf6);;
}

/* Responsive  */
@media (max-width: 600px) {
    .form-box {
        padding: 30px 20px;
        border-radius: 20px;
    }

    .container h1 {
        font-size: 24px;
    }

    .btn {
        font-size: 15px;
        height: 44px;
    }

    .social-icons a {
        font-size: 20px;
        padding: 8px;
    }
}
.alert {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
    background-color: #ffffff;
    border-left: 5px solid  #965385;
    padding: 25px 35px;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    border-radius: 12px;
    text-align: center;
    min-width: 320px;
    max-width: 90%;
    width: 400px;
    transition: all 0.3s ease-in-out;
  }

  .alert span {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
  }

  .alert button {
    background-color:#965385 ;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  .alert button:hover {
    background-color: #ebecec;
    border: 2px solid #965385;
    color: #965385;
  }

  .hidden {
    display: none;
  }